[access]
	inheritFrom = breakpad
[access "refs/heads/*"]
	exclusiveGroupPermissions = label-Code-Review label-Commit-Queue label-Verified
	label-Code-Review = -1..+1 group breakpad-committers
	submit = group breakpad-committers
	push = group breakpad-committers
[access "refs/sandbox/*"]
	create = group breakpad-committers
	forgeAuthor = group breakpad-committers
	forgeCommitter = group breakpad-committers
	push = +force group breakpad-committers
[submit]
	action = cherry pick
[access "refs/*"]
	owner = group breakpad-owners
[access "refs/for/refs/heads/*"]
	create = group breakpad-committers
	forgeAuthor = group breakpad-committers
	push = group breakpad-committers
