[access]
	inheritFrom = breakpad
[access "refs/heads/*"]
	create = group breakpad-owners
	create = group mdb/chrome-git-admins
	forgeAuthor = group breakpad-owners
	forgeAuthor = group mdb/chrome-git-admins
	forgeCommitter = group breakpad-owners
	forgeCommitter = group mdb/chrome-git-admins
	push = group breakpad-committers
	push = +force group mdb/chrome-git-admins
[access "refs/sandbox/*"]
	create = group breakpad-committers
	forgeAuthor = group breakpad-committers
	forgeCommitter = group breakpad-committers
	push = +force group breakpad-committers
