[access]
	inheritFrom = breakpad
[access "refs/heads/*"]
	create = group breakpad-owners
	forgeAuthor = group breakpad-owners
	forgeCommitter = group breakpad-owners
	push = group breakpad-committers
[access "refs/sandbox/*"]
	create = group breakpad-committers
	forgeAuthor = group breakpad-committers
	forgeCommitter = group breakpad-committers
	push = +force group breakpad-committers
[submit]
	action = cherry pick
